*.tlog
*.log
*.vsidx
/CS-300/Week 2/Assignment_1/VectorSorting/.vs
/CS-300/Week 2/Assignment_1/VectorSorting/VectorSorting/x64
/CS-300/Week 2/Assignment_1/VectorSorting/x64
/CS-300/Week 3/Assignment2/LinkedList/.vs
/CS-300/Week 3/Assignment2/LinkedList/LinkedList/x64
/CS-300/Week 3/Assignment2/LinkedList/x64
